<%= stylesheet_link_tag "myStyles.css" %>


<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        
        <%= @user.name %>
		
      </h1>
	  <div class="welcome-message">
	  <% if flash[:success] %>
		<%= flash[:success] =%>
	  <% end %>
	  </div>
	  
	 
	  <div class="divTable">
		<div class="divRow">
			<div class="divCell">
				
					<%= form_tag({controller: "lists", action: "create"}, method: "post") do %>
						<%= label_tag(:q, "New List Name") %>
						<%= text_field_tag(:q) %>
						<%= submit_tag("Create new List",:class => "formButton") %>
					<% end %>
				
			<div>
		</div>
	  </div>
	  
	  
    </section>
  </aside>
</div>