<%= stylesheet_link_tag "myStyles.css" %>

<!-- <p> request : <%= @uri =%> </p> -->


<%= form_tag("/welcome/show", controller: "welcome", method: "get") do %>
  <%= label_tag(:artist, "Artist:") %>
  <%= text_field_tag(:artist,@artist)  %>
  <%= label_tag(:album, "Album:") %>
  <%= text_field_tag(:album,@album)  %>
  <%= submit_tag("Search") %>
<% end %>

	
	
<% if @albumsList.empty? then %>

	<p>No match found for 	
	
	<% if !@album.nil? %>
		<%= @album %>
	<% end %>
	<% if !@artist.nil? %>
		by <%= @artist %> 
	<% end %> </p>
	
<% else %>	

	<table  style="width:100%">
	
	<% @albumsList.each do |album| %>
		<tr>
			<td class="album">
				<p> Album <b class="albumDetails"> <%= album["albumTitle"] %> </b> <br>
				by  <block class="albumDetails"><%= album["artist"] %></block> </p>
				
				<p>  <img class="albumCover" src="<%= album["albumCover"] =%>" style="width:150px;height:150px;" >   </p>
				<!-- <img src="pic_mountain.jpg" alt="Mountain View" style="width:304px;height:228px;"> -->
				
				<p> <block class="albumDetails"> Genre: </block><i><%= album["genre"] %></i> </p>
			</td>	
		</tr>		
	<% end %>
	
	</table>
	
	
<% end %>
	