<!DOCTYPE html>
<html>
  <head>
    <title>MoodMatcher</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	
	<%= render 'shared/navigation_bar' %>
	<%= render 'shared/search' %>
	
    <%= yield %>
  </body>
</html>
